

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PLM API</a>
        </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to PLM API </h1>
        <p> PLM API is the first open source API for building PLM applications. from a simple marketing specification to the recycling or the obsolescence of a product or a service, it should provide a service layer which will allow small teams of developpers to developp advanced features on a common platform.</p>
        <p><a class="btn btn-primary btn-lg" href="https://plmapi.readme.io/v0.1/docs" role="button">Read the API documentation</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3 mainPageCategories" >
          <h2 >API Doc</h2>
          <a href="https://plmapi.readme.io/v0.1/docs">
              <img src="images/documentation_256.png" alt="API Documentation" class="img-rounded img-responsive">
          </a>
        </div>
        <div class="col-md-3 mainPageCategories" >
          <h2 >Github Project</h2>
            <a href="https://github.com/YMA-MDL/PLMAPI">
              <img src="images/github_256.png" alt="Github Project" class="img-rounded img-responsive">
            </a>
       </div>
        <div class="col-md-3 mainPageCategories" >
          <h2  >Blog</h2>
          <a href="http://plmapi.wordpress.com">
          <img  src="images/blog_256.png" alt="Blog" class="img-rounded img-responsive">
            </a>
        </div>
        <div class="col-md-3 mainPageCategories" >
          <h2>Register </h2>
          <a href="http://eepurl.com/bI2mfL">
              <img src="images/register_256.png" alt="API Documentation" class="img-rounded img-responsive">
          </a>
        </div>
      </div>
<!--
      <hr>
      <div class="row">
          <h2> Sample Applications </h2>
          <div class="col-md-4 mainPageCategories" >
          <h3 >Part BOM navigator</h3>
          <a href="/partBomNavigator">
              <img src="images/part_256.png" alt="API Documentation" class="img-rounded img-responsive">
          </a>
        </div>
        <div class="col-md-4 mainPageCategories" >
          <h3 >Document Manager</h3>
            <a href="/documentManager">
              <img src="images/document_256.png" alt="Github Project" class="img-rounded img-responsive">
            </a>
       </div>
        <div class="col-md-4 mainPageCategories" >
          <h3>ECO manager</h3>
          <a href="/ecoManager">
          <img  src="images/eco_256.png" alt="Blog" class="img-rounded img-responsive">
            </a>
        </div>
      </div>
      <hr>
-->
      <footer>
        <p>&copy; mydatalinx 2016</p>
      </footer>
    </div> <!-- /container -->
