<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/auth/local/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  
  <!-- test if api admin -->
  <!-- if api admin allow to select the account -->
  <!-- if notapi admin then let the backend select the same account as the one registering -->
  
  <button type="submit">Sign up</button>
</form>
